.main-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  width: 100%;
  height: 50px;
  background-color: #1a73e8;
}

.main-page {
  display: flex;
  flex: 1;
}

.main-page nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: lightgrey;
}

.main-page main {
  flex: 1;
}
