.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background: #d8d8d8;
    border-radius: 10px;
}

.field {
    max-width: 60%;
}

.submit-button {
    display: flex;
    justify-content: center;
}

div h4 {
    padding-left: 12px;
    font-size: 24px;
}

.form-row input {
    font-size: 18px;
    background: #c3c3c3;
    margin: 12px;
}

.form-row select {
    font-size: 18px;
    background: #c3c3c3;
    margin: 12px;
}

#form-div {
    width: 40%;
    min-width: 35%;
    max-width: 60%;
    background: #c3c3c3;
}


