.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px auto auto;
  gap: 25px;
  padding: 20px;
}

.welcome-box {
  grid-column: 1 / 2;
}

.date-box {
  grid-column: 2 / 4;
}

.overall-budget {
  grid-column: 1 / 2;
}

.transactions-placeholder {
  grid-column: 2 / 4;
  min-height: 220px;
}

/* put it here at the bottom */
.landing-transactions th:last-child,
.landing-transactions td:last-child {
  display: none;
}